@model CardPortfolio.Models.MoneyMarketAccount

@{
    ViewData["Title"] = Model.Name;
    var photoPath = "~/images/" + Model.ImageUrl;

}


<div class="container-fluid">

    <img src="@Url.Content(photoPath)" id="carLoanLogo" />
    <p class="alert-heading">@Model.Name</p>


</div>
