@model CardPortfolio.Models.HomeEquityLineOfCredit
@{
    ViewData["Title"] = "Create HELOC";
}
<h1>Create</h1>

<h4>Line of Credit </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LTV" class="control-label"></label>
                <input asp-for="LTV" class="form-control" />
                <span asp-validation-for="LTV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowApr" class="control-label"></label>
                <input asp-for="LowApr" class="form-control" />
                <span asp-validation-for="LowApr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighApr" class="control-label"></label>
                <input asp-for="HighApr" class="form-control" />
                <span asp-validation-for="HighApr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumAmount" class="control-label"></label>
                <input asp-for="MinimumAmount" class="form-control" />
                <span asp-validation-for="MinimumAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaximumAmount" class="control-label"></label>
                <input asp-for="MaximumAmount" class="form-control" />
                <span asp-validation-for="MaximumAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumTermInMonths" class="control-label"></label>
                <input asp-for="MinimumTermInMonths" class="form-control" />
                <span asp-validation-for="MinimumTermInMonths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaximumTermInMonths" class="control-label"></label>
                <input asp-for="MaximumTermInMonths" class="form-control" />
                <span asp-validation-for="MaximumTermInMonths" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasOriginationFee" /> @Html.DisplayNameFor(model => model.HasOriginationFee)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="OriginationFee" class="control-label"></label>
                <input asp-for="OriginationFee" class="form-control" />
                <span asp-validation-for="OriginationFee" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasAnnualFee" /> @Html.DisplayNameFor(model => model.HasAnnualFee)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AnnualFee" class="control-label"></label>
                <input asp-for="AnnualFee" class="form-control" />
                <span asp-validation-for="AnnualFee" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasAdvanceFee" /> @Html.DisplayNameFor(model => model.HasAdvanceFee)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AdvanceFee" class="control-label"></label>
                <input asp-for="AdvanceFee" class="form-control" />
                <span asp-validation-for="AdvanceFee" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ArePaymentsInterestOnly" /> @Html.DisplayNameFor(model => model.ArePaymentsInterestOnly)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MinimumPayment" class="control-label"></label>
                <input asp-for="MinimumPayment" class="form-control" />
                <span asp-validation-for="MinimumPayment" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
