@{
    ViewData["Title"] = "Home Page";
}


<div class="row image-container">
    <img src="~/images/site/blake-wisz-tE6th1h6Bfk-unsplash.jpg"  id="homePic" />
    <div class="top-right">
        <h3 class="laurens-dumb-spacing">FIND THE </h3> <h3 class="laurens-dumb-spacing">PERFECT CARD</h3> <h3 class="laurens-dumb-spacing">FOR YOUR</h3><h3>LIFESTYLE</h3>
        <form method="get" asp-action="Index" asp-controller="CreditCards">
        <button class="btn btn-green btn-learn-more">Learn More</button>
        </form>
    </div>
</div>

<div class="row background-grey-row">
    <div class="col-sm-6">
        <div class="card white-card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card white-card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
<div class="row background-grey-row">
    <div class="col-sm-6">
        <div class="card white-card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card white-card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>