@model CardPortfolio.Models.Mortgage
@{
    ViewData["Title"] = "Add Mortgage";

}

@Html.HiddenFor(m => m.Id)

<form method="post">

    <div class="form-group">
        @Html.LabelFor(m => m.Id, "Mortgage Name", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("MortgageId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Add Mortgage</button>
</form>