@model CardPortfolio.Models.SecuredLineOfCredit
@{
    ViewData["Title"] = "Add Secured Loc";

}

@Html.HiddenFor(m => m.Id)

<form method="post">

    <div class="form-group">
        @Html.LabelFor(m => m.Id, "Secured Line Of Credit", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("Id", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Add Secured Line Of Credit</button>
</form>