@model CardPortfolio.Models.UnsecuredPersonalLoan
@{
    ViewData["Title"] = "Add Unsecured Loan";

}

@Html.HiddenFor(m => m.Id)

<form method="post">

    <div class="form-group">
        @Html.LabelFor(m => m.Id, "Unsecured Loan", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("Id", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Add Secured Loan</button>
</form>