/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


body {
    margin: 0;
    font-family: Arial
}

.card-info-list{
    list-style-type:none;
    padding-left:1em;
        
}

.card-row-pic{
    max-height:80%;
}

.header-row {
    margin-bottom: 2em;
    margin-top: 1em;
}
.navbar-toggler{
    background-color:white;
    margin-right:1em;
    margin-left:0.25em;
}

#navHamburger{
    height:30px;
    width:20px;
    
}

#siteLogo {
    margin-left: 2em;
    margin-top:1em;
}

#homeText{
    margin-top:-10%;
}

#homePic{
    
    width:118%;
    margin-left:-10%;
     margin-top:0%;
     
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
    
}

.top-right {
    position: absolute;
    bottom: 40%;
    right: 0px;
    width:110%;   
   
   
}

.top-right h3{
    color:white;
    margin-left:35%;
    min-width: 100%;
}

.img-thumbnail{
    max-width:50%;
    max-height:10%;
}

.img-col{
    max-width:20px;
    max-height:10%;
}



.institution-titles {
    color: black;
   margin-top:1%;
   margin-left:41%;
}
.background-grey-row {
    background-color: #F8F8F8;
    width: 120%;
    margin-left: -10%;

}

.background-grey-row-2{
    padding-bottom: 10%;
}

.white-card{
    max-width: 80%;
    margin-left:10%;
    margin-top: 5%;
    margin-bottom: 10%;
    min-height:90%;
    max-height:100%;
}


.advertiser-bar{
    background-color:white;
    max-height: 80px;
    margin-top:-1%;
    
   
}

.responsive-text {
    margin-bottom: 1%;
    margin-right: 40%;
    font-size: 3vw;
    color: black;
    font-weight: bold;
    font-family: Arial;
    min-width:10%;
}

.black-nav{
    color:black;
}

.navbar-custom {
    background-color: rgb(0, 153, 219);
    width:100%;
    margin-right:0%;
    
    
}

.stripe > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgb(232, 248, 255);
}

.stripe thead {
    background-color: rgb(0, 153, 219);
    color:white;
}

.blue-header {
    background-color: rgb(0, 153, 219);
    color: white;
    font-weight: bold;
}

.page-message{
    width:150%;
    margin-left:-8%;
    margin-bottom:5%;
    
}
.white-nav {
    color: white;
    margin-left:8px;
}

.btn-green {
    background-color: rgb(50, 216, 100);
    color:white;
    font-weight: bold;
    min-width:50%;
}

.more-information {
    background-color: #F8F8F8;
    width: 120%;
    margin-left: -10%;
    max-height:100px;
    
    
}
 .more-information h2 {
    margin-left: 38%;
    margin-top:3%;
    margin-bottom: 10%;
    

    }
 .no-margin-column{
     margin-right:-10%;
 }

.about-section{
    margin-left: 13%;
}
.btn-custom {
    width: 100%;
    margin-left: 5px;
    margin-right: 10px;
}

.btn-wide {
    min-width: 100%;
    background-color: #e7e7e7;
    color: black;
    margin-top: 2%;
}

.bt-info{
    margin-left:-5%;
    
}

.info-box{
    margin-top:4px;
}

#index-post-header{
    max-height: 50%;
    max-width: 100%;
}
.blog-card {
    max-width: 60%;
    margin-left: 15%;
    margin-top: 5%;
}

textarea {
    width: 300px;
    height: 150px;
}

.top-input {
    margin-top: 5%;
}

.login-screen {
    max-width: 50%;
}

.card-info-list li:before{
    content:"-";
    position:absolute;
    margin-left:-1em;
    
}

.details-section{
    margin-top:2%;
    margin-left:5%;
}



#institionDetailsCardPic, #userInstitutionPic{
    margin-bottom:5%;
    margin-top:0%;
}

#totalLimitsHeader {
    margin-top:18%;
    min-width:115%;
    margin-left:-2%;
}

.cardRowHeader{
    min-width: 115%;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.nav-fa {
    margin-right:3px;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #ffffff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    font-size: x-small;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    
    width: 100%;
    white-space: nowrap;
    
    line-height: 60px; /* Vertically center the text there */
    
}

#institutionLogo {
    max-width: 20%;
    max-height: 20%;
}

#cardDetailsPic{
    max-width:50%;
    max-height:50%;
    min-height:30%;
    min-width:30%
}

#cardRow {
    max-width: 100%;
}

.collapsible {
    background-color: #73e600;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top:2%;
}

    .active, .collapsible:hover {
        background-color: #555;
    }

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}


/** Trying w3 example */

.column {
    float: left;
    width: 75%;
    padding: 2% 2%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
}

.column:hover .overlay {
    opacity: 1;
}

.text {
    color: black;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn-blog-post-create{
    margin-bottom:10%;
}


.responsive-card{
    width: 100%;
    height:auto;
}

.responsive-image{
    width: 50%;
   margin-left:15%;
   width:75%;
}

.grey-bottom-row {
    background-color: #F8F8F8;
    width: 120%;
    margin-left:-10%;
}

.card-left-margin{
    margin-left:8%;
    margin-top:2%;
    margin-right:10%;
}

.gutters-white{
    background-color:white;
}

#viewLoanBtn{
    margin-top:5%;
}
#bottomRowContainer{
    height:15%;
    
    
    
}
.home-recent-posts-column{
    max-width:80%;
    margin-left:10%;
    height:80%;
    margin-top:10%;
    
}

a h2{
    color:black;
    
}

a p{
    color:black;
}
a:hover{
    text-decoration:none;
}

.card-home-title{
   font-size:100%;
    text-decoration:none;
}

#recentPostsTitle{
    margin-left:40%;
    margin-top:2%;
}

#recentPostsRow {
    margin-top: 5%;
    color: rgb(0, 153, 219);
}



.footer-links{
    text-align:center;
    
}