@model IEnumerable<CardPortfolio.Models.CreditCard>
@{
    ViewData["Title"] = "InstitutionCards";
}
<div class="container-fluid">
    <h1>InstitutionCards</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Card Name
                </th>
                <th>
                    Institution Id
                </th>
                <th>
                    high APR Purchase
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var card in Model)
            {
                <tr>
                    <td>@card.Name</td>
                    <td>@card.InstitutionId</td>
                    <td>@card.HighAPRPurchases</td>
                    <td>
                        @Html.ActionLink("Details", "Details", "CreditCards", new { id = card.Id }) |

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>